{% extends "layout.html" %}

{% block body %}

<!--Header Image-->
<div class="container-bg">
    <div class="container p-4 text-light text-center">
        <div class="row justify-content-center">
            <img src="static/images/bunuo.png" class="rounded-circle" id="pfp-img">
        </div>
        <div class="display-3 home-text font1 ml2 banner-text-effect">
            Bao Han Trinh
        </div>
        <div class="display-6 home-text font2 banner-text-effect">
            fweamy
        </div>

        <!--Contact bar-->
        <div class="d-flex justify-content-center gap-3 m-3">
            <a href="https://github.com/fweamy"><img src="static/icons/github-mark.svg" class="icon" href></a>
            <a href="https://www.behance.net/fweamy"><img src="static/icons/behance.png" class="icon" href></a>
            <a href="https://fweamy.itch.io/"><img src="static/icons/itch-io.svg" class="icon" href></a>
        </div>
    </div>
</div>

<!--Featured-->
<div class="row justify-content-center d-flex">
    {% for card in featured %}
    <div class="col-md-4">
        <div class="card mx-auto text-center w-75 m-5">
            <img src="static/images/{{ card['image'] }}" class="card-img-top" alt="{{ card['title'] }}">
            <div class="card-body">
                <h5 class="card-title font1 text-color1">{{ card["title"] }}</h5>
                <p class="card-text font2 text-color2">{{ card["desc"] }}</p>
                <a href="{{ card['link'] }}" class="btn btn-primary font2">See more</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!--Works-->
<div class="display-5 font1 text-color1 text-center">
    Works
</div>

<div class="row justify-content-center d-flex">
    {% for card in works %}
    <div class="col-md-3 m-3">
        <div class="card mx-auto text-center h-100 w-100">
            <img src="static/images/{{ card['image'] }}" class="card-img-top" alt="{{ card['title'] }}">
            <div class="card-body">
                <h5 class="card-title font1 text-color1">{{ card["title"] }}</h5>
                <p class="card-text font2 text-color2">
                    <b>{{ card["tools"] }}</b>
                    <br>
                    {{ card["desc"] }}</p>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}