{% extends "layout.html" %}

{% block body %}

<!--Header Image-->
<div class="container-bg">
    <div class="container p-4 text-light text-center">
        <div class="row justify-content-center">
            <img src="static/images/bunuo.png" class="rounded-circle" id="pfp-img">
        </div>
        <div class="display-3 home-text font1 ml2 banner-text-effect">
            Bao Han Trinh
        </div>
        <div class="display-6 home-text font2 banner-text-effect">
            fweamy
        </div>

        <!--Contact bar-->
        <div class="d-flex justify-content-center gap-3 m-3">
            <a href="https://github.com/fweamy"><img src="static/icons/github-mark.svg" class="icon" href></a>
            <a href="https://www.behance.net/fweamy"><img src="static/icons/behance.png" class="icon" href></a>
            <a href="https://fweamy.itch.io/"><img src="static/icons/itch-io.svg" class="icon" href></a>
        </div>
    </div>
</div>

<!--Page Content Introduction-->
<div class="row justify-content-center d-flex">

    <div class="col-4">
        <div class="card mx-auto text-center w-75 m-5">
            <img src="static/images/itch.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font1 text-color1">Game Projects</h5>
                <p class="card-text font2 text-color2">RPG and puzzle game projects I have worked on, with a blend of horror and lighthearted narrative!</p>
                <a href="games.html" class="btn btn-primary font2">See more</a>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card mx-auto text-center w-75 m-5">
            <img src="static/images/behance.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font1 text-color1">Art & Design</h5>
                <p class="card-text font2 text-color2">My graphic design and visual identity work for events and organizations.</p>
                <a href="gallery.html" class="btn btn-primary font2">See more</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}