{% extends "layout.html" %}

{% block body %}
        <!--Game Showcase-->
        <div class="card mx-auto my-5 text-center h-100 w-75 px-5">
            <div class="card-body">
                <iframe frameborder="0" src="https://itch.io/embed/2044340?fg_color=3033ff&amp;link_color=ffc030&amp;border_color=ffc030" width="552" height="167"><a href="https://fweamy.itch.io/the-night-embrace">The Night Embrace by fweamy</a></iframe>
                <p class="card-text font2 text-color2">
                    Genre: RPG, Adventure
                    <br>
                    Platform: PC, Mac and Browser
                    <br>
                    Engine: Unity
                    <br>
                    Role: Sole Developer
                </p>
            </div>
        </div>

        <div class="card mx-auto my-5 text-center h-100 w-75">
            <div class="card-body">
                <iframe frameborder="0" src="https://itch.io/embed/2109664?fg_color=e4396d&amp;link_color=ffc030&amp;border_color=ffc030" width="552" height="167"><a href="https://fweamy.itch.io/liars-respite">Liar's Respite by fweamy, junius7, jakekralovansky@yahoo.com, Magbread, LunaAzulComposer</a></iframe>
                <p class="card-text font2 text-color2">
                    Genre: Adventure, Puzzle, RPG
                    <br>
                    Platform: PC, Mac and Browser
                    <br>
                    Engine: Unity
                    <br>
                    Role: Game Designer/Concept Artist
                </p>
            </div>
        </div>
{ % endblock % }